<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.hjh.wequiz">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.WeQuiz">
        <activity
            android:name=".MapActivity"
            android:exported="true" />
        <activity
            android:name=".MemberModifyActivity"
            android:exported="true" />
        <activity
            android:name=".RankActivity"
            android:exported="true" />
        <activity
            android:name=".TextMissionActivity"
            android:exported="true" />
        <activity
            android:name=".MissionLoadActivity"
            android:exported="true" />
        <activity
            android:name=".MissionMapActivity"
            android:exported="true" />
        <activity
            android:name=".CameraActivity"
            android:exported="true"/>
        <activity
            android:name=".MyMissionActivity"
            android:exported="true">

        </activity>
        <activity
            android:name=".MissionListActivity"
            android:exported="true" />
        <activity
            android:name=".QuizLoadingActivity"
            android:exported="true" />
        <activity
            android:name=".SignSuccActivity"
            android:exported="true" />
        <activity
            android:name=".SignActivity"
            android:exported="true" />
        <activity
            android:name=".LoginActivity"
            android:exported="true" />
        <activity
            android:name=".SplashActivity"
            android:exported="true" />
        <activity
            android:name=".MainActivity"
            android:exported="true">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>